<div class="container-fluid" ng-controller="CtrlEmpleados" >
    <aside class="sidebar">
        <div class="menu">
            <ul class="list">
                <li><h4>Menú de empleados</h4></li>
                <li >
                    <a ng-click="registroEmpleados()">
                        <i class="material-icons">perm_identity</i>
                        <span>Empleados</span>
                    </a>
                </li>
                <li>
                    <a ng-click="NuevoRegistro()">
                        <i class="material-icons">library_add</i>
                        <span>Registrar empleado</span>
                    </a>
                </li>
                <li>
                    <a ng-click="borrarEmpleadoForm()">
                        <i class="material-icons">delete</i>
                        <span>Borrar empleados</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div id="contenido" class="informacion">
    </div>
</div>