<div class="container-fluid" ng-controller="CtrlProductos" >
    <aside class="sidebar">
        <div class="menu">
            <ul class="list">
                <li><h4>Menú de Productos</h4></li>
                <li >
                    <a ng-click="mostrarProductos()">
                        <i class="material-icons">perm_identity</i>
                        <span>Mis productos</span>
                    </a>
                </li>
                <li>
                    <a ng-click="agregarProductosForm()">
                        <i class="material-icons">library_add</i>
                        <span>Agregar productos</span>
                    </a>
                </li>
                <li>
                    <a ng-click = "eliminarProducto()">
                        <i class="material-icons">delete</i>
                        <span>Borrar producto</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div id="contenido" class="informacion">

    </div>
</div>    