<div class="container-fluid" ng-controller="CtrlVentas" >
    <aside class="sidebar">
        <div class="menu">
            <ul class="list">
                <li><h4>Menú de ventas</h4></li>
                <li >
                    <a ng-click="verRegistro()">
                        <i class="material-icons">toc</i>
                        <span>Todas las ventas</span>
                    </a>
                </li>
                <li>
                    <a ng-click="ventasPorMes0()">
                        <i class="material-icons">schedule</i>
                        <span>Ventas por mes</span>
                    </a>
                </li>
                <li>
                    <a ng-click="ventasPorCliente0()">
                        <i class="material-icons">perm_contact_calendar</i>
                        <span>Ventas por cliente</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div id="contenido" class="informacion">

    </div>
</div>